
$color-red: red;

//btn
$primary: #409eff;
$cancel: #ff7674;
$submit: #41b882;
$danger: #ed0000;

//table
$table-border-color: #dee2e6;

//form

$form-control-color: #495057;
$form-control-border-color: #ced4da;
$form-control-invalid-color: #dc3545;